@model E_Kataale.Models.Category

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Master_Layout.cshtml";
}

<h2>Categories</h2>

<div>
    <h4>Category</h4>
    <hr />
   
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
