
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master_Layout.cshtml";
}

<h2>Administrator</h2>

@Html.ActionLink("Departments", "Departments");

@Html.ActionLink("Categories", "Categories");
